
.section-descripcion{
    display: flex;
    flex-wrap: wrap;
}

.info{
    display: flex;
    text-align: justify;
}

.section-title{
    display: flex;
    margin-top: 50px;
    
}

.section-title > div {
    border-right: 5px solid var(--white-1);

}

.section-title > div > span {
    padding: 5px 0;
    display: flex;
    
}

.title-span{
    font-size: 56px;
    margin-right: 15px;
    color: var(--red-2);


}

.title-span:nth-child(2) {
    color: var(--red-1);
    font-weight: bold;
    
}

.section-paragraph{
    margin-left: 20px;
    display: flex;
    align-items:center;
    
}

.descripcion_img{
    width: 100%;
}

.descripcion_img > img {
    width: 100%;
    height: auto;
    
}
.section-1{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.paragraph{
    display: flex;
    align-self: flex-end;
    color: var(--white-1);
}


@media (max-width: 767px){
    .section-descripcion{
        display: flex;
        flex-wrap: wrap;
    }

    .section-title{
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        text-align: center;
    }

    .section-title > div {
        border-bottom: 5px solid var(--white-1);
        border-right: 0;
        padding: 10px;
    }
    
    .section-paragraph{
        display: flex;
        margin: 10px;
    }
    .info{
        display: contents;
        text-align: justify;
    }
    .paragraph{
        display: flex;
        align-self: flex-end;
        color: var(--white-1);
    }
}