.footer{
    font-size: 12px;
    text-align: center;
    align-items: center;
    background-color: var(--blue-1);
    width: 100%;
    padding: 10px;
}

.footer-logo{
    display: none;
}
.author{
    font-size: 18px;
    color: var(--white-1);
    padding: 5px;
}

.footer-author{
   
    padding: 5px;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.github-icon{
    padding: 4px;
}
.instagram-icon{
    padding: 4px;
}
.linkeding-icon{
    padding: 4px;
}
.twitter-icon{
    padding: 5px;
}



@media (min-width: 768px){
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        background-color: var(--blue-1);
        width: 100%;
        height: 150px;
    }

    .footer-logo{
        display: block;
    }
    
    .author{
        font-size: 14px;
        color: var(--white-1);
        line-height: 25px;
        padding: 5px;
    }

    .footer-author{
        display: inline-flex;
        padding: 5px;
    }

    .footer-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    }
    .github-icon{
        padding: 4px;
    }
    .instagram-icon{
        padding: 4px;
    }
    .linkeding-icon{
        padding: 4px;
    }
    .twitter-icon{
        padding: 4px;
    }
   
   

  

}