@import "./navbar.css";
@import "./wrapper.css";
@import "./descripcion.css";
@import "./content.css";
@import "./footer.css";

:root{
    --black: #000000;
    --white: #ffff;
    --white-1: #F2F4F7;
    --blue: #0000ff;
    --red-1:#E43A19;
    --red-2: #F05454;
    --navy: #05042D;
    --blue-1: #111F4D;
    --crema: #F4F6F6;
    --cremaLimon: #9BE8D8;
    --black-1: #020205;
    --font: system-ui;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}   

body{
    margin: 0;
    padding: 0;
    background-color: var(--black-1);
    font-family: var(--font);
}